
body {
    background-color: #4b5568;
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #394150;
    padding: 20px;
    border-radius: 20px;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}


.title {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}


.buttonline {
    display: flex;
    gap: 20px;
}


.buttonline button {
    color: aliceblue;
    background-color: transparent;
    border-color: transparent;
    border-radius: 8px;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.square {
    width: 1250px;
    height: 500px;
    background-color: #394150;
    border-radius: 20px;  
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}


.card {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f1e24;
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}
